.input-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  margin-bottom: 10px; /* 토글 간의 기본 간격 설정 */

}

.input-container.active {
  height: auto;
  padding: 20px;
}

.text-field-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text-field-label {
  flex: 0 0 140px;
}

.text-field-input {
  flex-grow: 1 !important;
}

.cell {
  border-right: 1px solid white;
}


.product-page {
  display: flex;
  align-items: stretch; /* 사이드바와 컨텐츠를 높이 기준으로 맞추기 */
}

.sidebar {
  background-color: #252525;
  color: #fff;
  width: 300px;
  flex: 0 0 300px; /* 너비를 고정 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 텍스트들을 가운데 정렬 */
  overflow-y: auto; /* 사이드바가 내용보다 길 경우 스크롤 생성 */
  min-height: 1000px; /* 최소 높이를 300px로 설정 (원하는 높이로 변경 가능) */
}

.logo {
  display: flex;
  align-items: center !important;
  justify-content: center !important; /* 로고를 수평 가운데 정렬 */
  padding: 20px;
  text-align: center !important; /* 텍스트를 수평 가운데 정렬 */
  font-size: 30px; /* 원하는 폰트 크기로 조정 */
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-text {
  font-size: 18px;
}

.sub-menu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  margin-top: 10px;

}

.sub-menu a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s;
}

.sub-menu a:hover {
  color: #fff;
}

.product-management {
  padding: 50px; /* 오른쪽에 여백을 줌 */
}

.content-inner {
  margin: 0 300px; /* 좌우 간격을 조절하는 마진 값 */

  @media (max-width: 1200px) {
    margin: 0 20px; /* 화면 크기가 1200px 이하일 때 마진 값 조절 */
  }
}
