.cellStyle {
  padding: 8px 16px !important;
  text-align: center !important;
  font-family: "SUIT-Regular" !important;
}

.cellStyle-header {
  padding: "18px 16px";
  text-align: "center";
  color: "#252525";
  font-family: "SUIT-Bold";
}

.noOutline {
  &.MuiOutlinedInput-root {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: transparent !important;
    }
  }
}

.admin-product-list-container {
  width: 100%;
  height: calc(100vh - 102px);
  justify-content: center;
  align-items: center;
}

.admin-product-list-box {
  border: 1px solid rgb(240, 240, 240);
  margin: 20px 20px 20px 20px;
}

.modify-btn {
  justify-content: center;
  align-items: center;
}

.farm-product-list-icon {
  position: relative;
  height: 30px;
  width: auto;
  padding-top: 6px;
  padding-right: 7px;
}
