.product-managemant-info-container {
  width: 40%;
  padding-top: 20px;
  padding-right: 20px;
}
.new-product-chart {
  /* width: 600px; */
  height: 460px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  justify-content: flex-end;
}
.productChart {
  height: 420px;
  /* width: 100%; */
  /* position: relative; */
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-bottom: 20px;
}
