.product-page {
  display: flex;
  align-items: stretch; /* 사이드바와 컨텐츠를 높이 기준으로 맞추기 */
  background-color: rgb(240, 240, 240);
}

.sidebar {
  background-color: #252525;
  color: #fff;
  width: 250px;
  flex: 0 0 250px; /* 너비를 고정 */
  display: flex;
  flex-direction: column;
  align-items: left; /* 텍스트들을 가운데 정렬 */
  overflow-y: auto; /* 사이드바가 내용보다 길 경우 스크롤 생성 */
  min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}
  
.product-management {
  padding: 10px; /* 버튼 간격 */
  margin-left: 20px;
}

.sub-menu a {
  color: #aaa; /* 버튼 색상 */
  text-decoration: none;
  transition: color 0.2s;
}

.sub-menu a:hover {
  color: #fff; /* 버튼에 마우스를 올리면 색상 변경 */
}

.register-inner {
  margin: 0 300px; /* 좌우 간격을 조절하는 마진 값 */
  
  @media (max-width: 1200px) {
    margin: 0 20px; /* 화면 크기가 1200px 이하일 때 마진 값 조절 */
  }
}

.content-cell {
  max-height: 10px !important; /* 원하는 높이 값으로 조정 */
}

.logo {
  color: white;
  font-family: "SUIT-ExtraBold";
  font-size: 20px !important;;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.menu-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "SUIT-Thin";
  padding-bottom: 10px;
  padding-top: 10px;
}

.account-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  font-family: "SUIT-Thin";
}

.product-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  font-family: "SUIT-Thin";
}

.menu-icon {
  padding-right: 18px;
  color: white;
}

.content {
  width: 100%;
}