.mypage-container {
  margin-top: 1em;
  max-width: 500px !important;
  margin-bottom: 80px;
}
.content-align {
  display: flex;
  justify-content: center;
}
.class-h1 {
  font-size: 25px;
}
.profile-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.profile-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-font-size {
  font-size: 12px !important;
}
.output-style {
  border-radius: 4px;
  margin-bottom: 16px;
  border-style: none;
  font-family: "SUIT-light" !important;
}
.output-style.no-border {
  border: none;
  background-color: rgb(250, 250, 250);
  color: black !important;
}
.output-style.no-border:hover {
  border: none;
}
.output-style.no-border fieldset {
  border: none;
}
.mypage-btn {
  background-color: rgb(255, 104, 58) !important;
  color: white !important;
  font-family: "SUIT-SemiBold" !important;
  font-size: 16px !important;
  height: 58px;
}
.check-btn {
  background-color: rgb(201, 201, 201) !important;
  color: white !important;
  font-family: "SUIT-Regular" !important;
  font-size: 16px !important;
  height: 58px;
}
.withdrawal-btn {
  color: rgb(31, 31, 31) !important;
  font-family: "SUIT-SemiBold" !important;
  font-size: 14px !important;
}
.mypage-text-field {
  border: none;
  background-color: rgb(250, 250, 250);
  color: black !important;
}
.mypage-text-field:hover {
  border: none;
}
.mypage-text-field fieldset {
  border: none;
}
.zip-text-field:hover {
  border: none;
}
.zip-text-field fieldset {
  border: none;
}
.page-font {
  font-family: "SUIT-SemiBold" !important;
}
.orange-border-btn {
  border-color: orange !important;
  color: orange !important;
}
.gray-border-btn {
  border-color: rgb(221, 220, 220) !important;
}
