.product-randon-list-container {
  /* background-color: red; */
  height: 560px;
  min-width: 1200px
}

.product-randon-list-header {
  font-family: "SUIT-Bold";
  font-size: x-large;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.product-name {
  font-family: "SUIT_Bold";
  font-size: 22px;
}

.product-price {
  font-family: "SUIT-Light";
  color: gray;
}
