.product-list-filter-options {
  align-items: center;
}
.product-list-page-name {
  font-family: "SUIT-Bold";
  font-size: x-large;
  margin-left: 50px;
  margin-bottom: 10px;
}
.product-list-soldout-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
.filter-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.product-list-card-style {
  width: 275px;
  height: auto;
  margin-bottom: 2;
  box-shadow: none !important;
  position: relative;
  box-shadow: none;
}
.product-list-price {
  color: gray;
}
.product-list-farm-info {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  font-family: "SUIT-Light";
}
.product-list-main-img {
  position: relative;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  object-fit: cover;
  padding-left: 6px;
}
.product-list-tag-style {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  margin-top: 8px;
}
.product-list-fluctuation-rate {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 8px;
  margin-right: 20px;
}
.product-list-review-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SUIT-SemiBold";
}
.product-list-review-rate {
  display: flex;
  align-items: center;
}
.product-list-review-btn {
  display: flex;
  align-items: center;
}
.product-list-tag-common {
  font-family: "SUIT-Light";
  padding: 3px 6px;
  border-radius: 0.2em;
}
.product-list-tag-organic {
  background-color: rgb(255, 200, 100);
  color: black;
}
.product-list-tag-pesticide-free {
  background-color: rgb(100, 100, 255);
  color: white;
}
.product-list-tag-environment-friendly {
  background-color: rgb(120, 200, 120);
  color: white;
}
