.admin-product-register-container {
  padding: 20px 20px 20px 20px;
  font-family: "SUIT-Medium";
  font-size: 16px;
}
.admin-product-register-box {
  width: 100%;
  background-color: white;
}
.product-register-toggle-component {
  width: 100%;
}
.product-register-detail-container {
  width: 100%;
}

.input-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  margin-bottom: 10px; /* 토글 간의 기본 간격 설정 */
  border: solid 1px;
  border-color: #d3d3d3;
}

.input-container.active {
  height: auto;
  padding: 20px;
}

.text-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-field-container {
  display: flex;
}

.select-field {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add-container {
  width: 100%;
  display: flex;
  margin-left: 20px;
}

.text-field-label {
  flex: 0 0 240px;
  height: 40px;
  color: #252525;
}

.image-text-field-label {
  height: 400px;
  width: 20%;
  color: #252525;
  align-items: center;
}
.main-image-container {
  display: flex;
  margin-bottom: 20px;
}
.detail-image-container {
  display: flex;
}
.text-field-input {
  flex-grow: 1 !important;
}

.cell {
  border-right: 1px solid white;
}

.logo {
  display: flex;
  align-items: center !important;
  justify-content: center !important; /* 로고를 수평 가운데 정렬 */
  padding: 20px;
  text-align: center !important; /* 텍스트를 수평 가운데 정렬 */
  font-size: 30px; /* 원하는 폰트 크기로 조정 */
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-text {
  font-size: 18px;
}

.sub-menu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  margin-top: 10px;
}

.content-inner {
  margin: 0 300px; /* 좌우 간격을 조절하는 마진 값 */

  @media (max-width: 1200px) {
    margin: 0 20px; /* 화면 크기가 1200px 이하일 때 마진 값 조절 */
  }
}

.text-field {
  height: 40px; /* 원하는 높이로 조정 */
}
.submit-btn-container {
  display: flex;
  padding-left: 40px;
  margin-bottom: 40px;
}

.submit-btn-container button {
  width: 100px;
  height: 40px;
}
