.review-component {
  color: #252525;
  text-align: center;
  padding-bottom: 100px;
}
.review-header-name {
  font-size: 24px;
  padding-bottom: 40px;
}
.review-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.review-counter {
  display: flex;
  padding-left: 50px;
}
.review-filter-button {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding-right: 50px;
}
.review-list {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}
.review-info-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.review-user-info-container {
  display: flex;
  flex: 0 0 225px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0 0 30px;
  flex-direction: column;
  gap: 15px;
}
.review-product-info-container {
  display: flex;
  min-width: 150px;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
  text-align: left;
  gap: 15px;
}
.review-image-container {
  display: flex;
  flex-direction: row;
}
.review-images {
  width: 100px;
  height: 100px;
  border-radius: 0.2em;
  margin-right: 3px;
}
.review-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.review-text-color-gray {
  color: rgb(150, 150, 150);
}
.sort-option-selected {
  color: rgb(150, 150, 150);
  cursor: pointer;
}
