.flex {
  display: flex;
}
.footer-container {
  font-size: 13px;
  line-height: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 100;
  background-color: rgb(248, 248, 248);
}
.footer-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1024px;
}
.footer-group-list {
  justify-content: space-between;
}
.headline {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  font-family: "SUIT-Bold";
}
.headline-content {
  color: rgb(0, 0, 0);
}
.space-1 {
  width: 100%;
  height: 10px;
}
.flex-table {
  flex-direction: column;
  font-family: "SUIT-Light";
  font-feature-settings: "tnum";
}
.table-style {
  font-size: 14px;
  line-height: 24px;
  color: rgb(30, 40, 55);
}
.table-col {
  align-items: flex-start;
}
.title-width {
  width: 100px;
}
.button-style {
  flex-direction: row;
  gap: 12px;
}
.button-detail-1 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border-radius: 0.2rem;
  border-width: 0.1rem;
  background-color: #373c3f;
  text-transform: none;
  cursor: pointer;
}
.button-text-1 {
  line-height: 1.25rem;
  margin: 0;
  color: white;
  font-family: "SUIT-SemiBold";
}
.button-detail-2 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border-radius: 0.2rem;
  border-width: 0.1rem;
  background-color: #373c3f;
  text-transform: none;
  cursor: pointer;
}
.button-text-2 {
  line-height: 1.25rem;
  margin: 0;
  color: white;
  font-family: "SUIT-SemiBold";
}
.space-2 {
  width: 100%;
  height: 20px;
}
.detail-info {
  margin-bottom: 1.5rem;
  line-height: 180%;
  color: rgb(100, 110, 120);
  font-family: "SUIT-Light";
}
.copyright-container {
  justify-content: space-between;
  align-items: center;
}
.copyright-detail {
  line-height: 180%;
  color: rgb(100, 110, 120);
}
.service-btn {
  justify-content: space-between;
  font-family: "SUIT-Bold";
}
.copyright-content {
  font-weight: 400;
  color: rgb(100, 110, 120);
  font-family: "SUIT-Light";
}
.hr-1 {
  margin-bottom: 2rem;
  opacity: 0.2;
  border-color: rgb(0, 0, 0);
}
.mouseover {
  cursor: pointer;
}
.mouseover:not(:last-child) {
  margin-right: 10px;
}
p {
  margin: 0;
}
hr {
  height: 0;
  border-top-width: 1px;
}
