.input-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  margin-bottom: 10px; /* 토글 간의 기본 간격 설정 */
}

.input-container.active {
  height: auto;
  padding: 20px;
}

.text-field-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text-field-label {
  flex: 0 0 140px;
}

.text-field-input {
  flex-grow: 1 !important;
}

.cell {
  border-right: 1px solid white;
}

.logo {
  display: flex;
  align-items: center !important;
  justify-content: center !important; /* 로고를 수평 가운데 정렬 */
  padding: 20px;
  text-align: center !important; /* 텍스트를 수평 가운데 정렬 */
  font-size: 30px; /* 원하는 폰트 크기로 조정 */
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center; /* 메뉴 아이템 텍스트를 가운데 정렬 */
}

.menu-text {
  font-size: 18px;
}

.sub-menu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  margin-top: 10px;
}

.text-field {
  height: 40px; /* 원하는 높이로 조정 */
}
