.product-slider {
  width: 100%;
}

.product-slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-slide-image-margin {
  margin: 0 1px;
}
/* .detail-slider .slick-slide {
  margin: 0 1px;
} */
