.product-slider {
  width: 100%;
}
.main-slider {
  width: 500px;
}
.product-slide-main-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.product-slide-detail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.product-slide-image-margin {
  margin: 0 1px;
}
/* .detail-slider .slick-slide {
  margin: 0 1px;
} */
