.farm-produce-price-container {
  /* background-color: yellow; */
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chart-container {
  /* background-color: red; */
  height: 600px;
  width: 68%;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.table-container {
  /* background-color: blue; */
  height: 600px;
  width: 67%;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
}
