.order-managemant-info-container {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.new-order-chart {
  /* height: 460px; */
  background-color: white;
  padding: 20px 20px 20px 20px;
  justify-content: flex-end;
  margin-right: 20px;
  font-family: "SUIT-Regular";
}
.orderChart {
  height: 260px;
  /* padding-bottom: 20px; */
}
