.custom-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-input .input-container {
  display: flex;
  align-items: center;
}

.custom-input label.Mui-focused {
  color: black;
}

.custom-input .MuiFilledInput-root {
  background-color: white;
  border-radius: 2px;
}

.custom-input .MuiFilledInput-root:hover {
  border-color: black;
}

.custom-input .MuiFilledInput-root.Mui-focused .MuiFilledInput-input {
  background-color: white;
}

.custom-input .MuiFilledInput-underline:before,
.custom-input .MuiFilledInput-underline:after {
  display: none;
}

.farm-page-container {
  display: flex;
}
.farm-container {
  padding: 20px 20px 20px 20px;
}
.farm-register-box {
  width: 100%;
}
.farm-register {
  width: 40%;
  min-height: 100%;
  padding-right: 20px;
}
.farm-list {
  width: 60%;
  min-height: 100%;
}
.css-1d5yvye {
  width: 96%;
}
.farm-menu {
  background-color: white;
  font-family: "SUIT-ExtraBold";
  font-size: 26px;
  padding-left: 60px;
  padding-top: 20px;
}
