.admin-main-container {
  background-color: #f8f8f8;
  display: flex;
  /* background-color: green; */
  min-width: 100%;
}
.side-menu-container {
  justify-content: center;
  align-items: center;
  width: 13%;
  /* background-color: blue; */
}
.dash-board-container {
  width: 87%;
  /* background-color: red; */
}
