.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}

.Menu {
  color: black;
  margin: 8px;
  text-decoration: none;
}

.Menu-logout {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  max-width: 100px;
}

.Menu-logout img {
  max-width: 100px;
}

.Home {
  color: black;
  margin: 8px;
  text-decoration: none;
  margin-left: 10px;
}

.Login img {
  max-width: 90px;
  
}

.MyPage img {
  max-width: 100px;
}

.MyPage {
  margin-left: auto;
  margin-right: 20px;
}