.header-container {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  min-width: 1200px;
}
.header-fontstyle {
  font-family: "SUIT-Medium";
  font-size: 14px;
}
.header-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  width: auto;
  z-index: 100;
  position: relative;
  width: 60%;
  margin: auto;
  /* margin-left: 360px;
  margin-right: 360px; */
}
.header-top-bar-right {
  min-width: 280px;
  /* justify-content: flex-end; */
  display: flex;
}
.Menu {
  color: black;
  margin: 8px;
  text-decoration: none;
}
.Menu-logout {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  max-width: 100px;
  margin-right: 20px;
  font-family: "SUIT-ExtraBold";
}
.Menu-logout img {
  max-width: 100px;
}
.Home {
  color: black;
  text-decoration: none;
  margin-top: 6px;
  min-width: 140px;
}
.Login img {
  max-width: 90px;
}
.MyPage img {
  max-width: 100px;
}
.register,
.Login {
  margin-left: auto;
  text-decoration: none;
  color: black;
}
.register {
  color: rgb(255, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
}
