.second-header-container {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  min-width: 1200px
}
.second-header-fontstyle {
  font-family: "SUIT-Bold";
  font-size: 18px;
}
.second-header-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  width: auto;
  z-index: 500;
  position: relative;
  width: 60%;
  margin: auto;
}
.second-header-btn-container-1 {
  min-width: 140px;
  display: flex;
  gap: 50px;
}
.second-header-btn-container-2 {
  min-width: "220px";
  align-items: end;
  justify-content: end;
  display: flex;
  gap: 50px;
}
.second-header-link {
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #252525;
  gap: 5px;
}
.second-header-drawer {
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}
.second-header-top-bar:hover .second-header-drawer {
  display: flex;
}
/* .second-header-top-bar .second-header-drawer {
  display: flex;
} */
/* .drawer-open {
  background-color: rgb(221, 238, 232);
} */
