.sidebar-component {
  display: flex;
}
.sidebar {
  /* background-color: #121e2d; */
  color: #fff;
  width: 250px;
  flex: 0 0 auto; /* 너비를 고정 */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 사이드바가 내용보다 길 경우 스크롤 생성 */
  min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}
.sidemenu-container {
  display: flex;
}
.content-container {
  display: flex;
}
.account-management,
.product-management,
.order-management,
.inquiry-management,
.dash-board {
  padding: 10px; /* 버튼 간격 */
  margin-left: 20px;
}
.sub-menu p {
  color: #aaa; /* 버튼 색상 */
  text-decoration: none;
  transition: color 0.2s;
}
.sub-menu p:hover {
  color: #fff; /* 버튼에 마우스를 올리면 색상 변경 */
}
.register-inner {
  margin: 0 300px; /* 좌우 간격을 조절하는 마진 값 */

  @media (max-width: 1200px) {
    margin: 0 20px; /* 화면 크기가 1200px 이하일 때 마진 값 조절 */
  }
}
.content-cell {
  max-height: 10px !important; /* 원하는 높이 값으로 조정 */
}
.home-logo {
  color: white;
  font-family: "SUIT-ExtraBold";
  font-size: 20px;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.menu-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "SUIT-Thin";
  padding-bottom: 10px;
  padding-top: 10px;
}
.account-menu,
.product-menu,
.order-menu,
.inquiry-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0 9px 18px;
  font-family: "SUIT-Thin";
  cursor: pointer;
}
.dash-board {
  cursor: pointer;
}
.menu-icon {
  padding-right: 18px;
  color: white;
}
.btn-icon {
  padding-left: 80px;
  color: white;
}
