.product-filter-options {
  align-items: center;
}
.product-list-page {
  font-family: "SUIT-Bold";
  font-size: x-large;
  margin-left: 50px;
  margin-bottom: 10px;
}
.product-filter-toggle {
  font-family: "SUIT-Thin";
  font-size: medium;
  align-items: center;
}
.tag-common {
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 0.2rem;
}
.tag-organic {
  background-color: rgb(255, 200, 100);
  color: black;
}
.tag-pesticide-free {
  background-color: rgb(100, 100, 255);
  color: white;
}
.tag-environment-friendly {
  background-color: rgb(120, 200, 120);
  color: white;
}
.sort-button {
  display: flex;
  justify-content: flex-end;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.checkbox-name {
  font-family: "SUIT-Light";
  font-size: small;
}
.toggle-button {
  background-color: #000000;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.toggle-button-icon {
  display: flex;
  vertical-align: middle;
  transition: transform 0.5s;
}
.toggle-button-rotate {
  transform: rotate(180deg);
}
.toggle-button-text {
  font-weight: bold;
}
.product-name {
  font-family: "SUIT_Bold";
  font-size: 22px;
}
.product-price {
  font-family: "SUIT-Light";
  color: gray;
}
